.cron-picker-dow {
    margin-bottom: 10px;
}  
.cron-picker-dow button {
    margin-right: 3px;
}

.cron-picker-recurrence-types {
    margin-bottom: 10px;
}

.cron-picker-recurrence-types li {
    margin-right: 5px;
}

.cron-picker-recurrence-types .active {
    font-weight: bold;
    text-decoration: underline;
}

.hidden {
    display:none;
}

.cron-picker-day-filter {
    margin-bottom: 10px;
}

.cron-picker-day-filter    .cron-picker-day-type-filter, .cron-picker-weekday-type-filter  {
    display: inline-block;
}
  
.cron-picker-day-filter  select {
    display: inline-block;
    width: 60px;
    margin: 0 5px;
}
  
.cron-picker-day-filter .cron-picker-dow-select {
    width: 100px;
}
.cron-picker-dow button.active {
    background: #0c63e4;
}
  
.cron-picker-time select {
    width: 60px;
    display: inline-block;
    margin: 0 5px;
}

